body.home
    .wrapper img
        float: left
        margin: 0 $spacing-unit-half $spacing-unit-half 0

    em
        display: block
        font-size: 0

        img
            width: (($content-width - ($spacing-unit-double)) / 4) - $spacing-unit-half
            margin: 0 0 $spacing-unit-half $spacing-unit-half
